.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.card {
   background-color: #fff;
   border-radius: 16px;
   max-width: 1000px;
   width: 100%;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.quiz{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 20px 20px 80px;

}

.answers {
   margin-top: 40px;
   max-width: 600px;
   width: 100%;

   li {
      list-style: none;
   }
}

.correct {
   border: 2px solid #4caf50;
   background-color: #e8f5e9;
}

.incorrect {
   border: 2px solid #ff1714;
   background-color: #ffebee;
}


.navigationBtn {
   
   height: 46px;
   background-color: #128cfe;
   border-radius: 8px;
   border: 0;
   color: #fff;
   font-size: 14px;
   padding: 0 20px;
   cursor: pointer;
   margin-top: 40px;

}